{% extends 'base.html' %}
{% load static %}

{% block title %}Enlace enviado{% endblock %}

{% block content %}
  <div class="alert alert-success mx-auto text-center" style="max-width: 500px;">
    <h4 class="alert-heading">¡Listo!</h4>
    <p>Si existe una cuenta con ese correo, recibirás en breve un email con el enlace para restablecer tu contraseña.</p>
    <hr>
    <a href="{% url 'account_login' %}" class="btn btn-primary">
      Volver al login
    </a>
  </div>
{% endblock %}